<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add book</title>
    </head>

    <body>
        {{> adminHeader }}
        {{> cursor }}
        <center>
            <br>
            <h1>Add new Book</h1>
            <br>
            <form action="addNewBook" method="POST" class="input-form" enctype="multipart/form-data">
                <input type="text" name="txtName" id="" placeholder="Enter book's name" class="inp">
                <br>
                <select name="txtCategory" class="inp" multiple="true">
                    {{#each categories}}
                        <option value="{{name}}" type="checkbox">{{name}}</option>
                    {{/each}}
                </select>
                <br>
                <input type="text" name="txtAuthor" id="" placeholder="Enter book's author" class="inp">
                <br>
                <input type="text" name="txtPublisher" placeholder="Enter book's publisher" id="description"
                       class="inp">
                <br>
                <input type="text" name="txtDescription" placeholder="Enter book's description" id="description"
                       class="inp">
                <br>
                <input type="number" name="numPrice" step="0.01" placeholder="Enter book's price" class="inp">
                <br>
                <input type="number" name="numQuantity" placeholder="Enter quantity in storage" class="inp">
                <br>
                <input type="file" name="image" placeholder="Select book's image" class="inp">
                <br>
                <input type="submit" value="Add book" id="btn_Save" class="inp">
            </form>
        </center>
    </body>

</html>
