<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homepage</title>
    </head>

    <body>
        {{> adminHeader }}
        <br /><br />
        <center>
            <h1>Add new User</h1>
            <br>
            <form method="post" action="addUser">
                <input type="text" name="txtName" class="inp" placeholder="Enter username">
                <br>
                <select name="Role" class="inp">
                    <option value="admin">Admin</option>
                    <option value="staff">Staff</option>
                    <option value="customer">Customer</option>
                </select>
                <br>
                <input type="password" name="txtPassword" class="inp" placeholder="Enter password">
                <br>
                <input type="text" name="txtFirstName" class="inp" placeholder="Enter user's first name">
                <input type="text" name="txtLastName" class="inp" placeholder="Enter user's last name">
                <br>
                <input type="email" name="txtEmail" class="inp" placeholder="Enter user's email">
                <br>
                <input type="text" name="txtAddress" class="inp" placeholder="Enter user's address">
                <br>
                <input type="tel" name="telPhone" class="inp" placeholder="Enter phone number">
                <br>
                <input type="file" name="avatar" placeholder="Select user's avatar" class="inp">
                <br>
                <input type="submit" value="Add User" class="inp" id="btn_Save">
            </form>
        </center>
    </body>

</html>
