<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homepage</title>
    </head>

    <body>
        {{> header }}
        {{> cursor }}
        <br /><br />
        <center>
            <h1>Add new User</h1>
            <br>
            <form method="post" action="addUser">
                <input type="text" name="txtName" class="inp" placeholder="Enter username">
                <br>
                <select name="Role" class="inp">
                    <option value="admin">Admin</option>
                    <option value="staff">Staff</option>
                </select>
                <br>
                <input type="password" name="txtPassword" class="inp" placeholder="Enter password">
                <br>
                <input type="submit" value="Add User" class="inp" id="btn_Save">
            </form>
        </center>
    </body>

</html>
