<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   {{> header }}
   <center>
      <h1>Register</h1>
      <br>
   <div class="form-input">
      <form action="register" method="post">
         <input type="text" name="txtName" class="inp" placeholder="Enter your username">
         <br>
         <input type="password" name="txtPassword" placeholder="Enter password" class="inp" id="password">
         <br>
         <input type="password" name="txtConfirmPassword" placeholder="Re-enter your password" class="inp">
         <br>

         <input type="submit" value="Add User" id="btn_Save" class="inp">
      </form>
   </div>
   </center>
</body>
</html>