<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   {{> header }}
   {{> cursor }}
   <div class="form-input">
      <form action="register" method="post">
         <input type="text" name="txtName">
         <br><br>
         <input type="password" name="txtPassword" placeholder="Enter password">
         <br><br>
         <input type="password" name="txtConfirmPassword" placeholder="Re-enter your password">
         <br><br>
         <input type="submit" value="Add User">
      </form>
   </div>
</body>
</html>