<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="/Logo/favicon.ico"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"
        />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
            integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <link rel="stylesheet" href="/css/table.css" />
        <link rel="stylesheet" href="/css/body.css" />
        <link rel="stylesheet" href="/css/alert.css" />
        <link rel="stylesheet" href="/css/card.css" />
        <link rel="stylesheet" href="/css/cursor.css" />
        <link rel="stylesheet" href="/css/headbar.css?version=1.1" />
        <link rel="stylesheet" href="/css/button.css?version=1.1" />
        <link rel="stylesheet" href="/css/form.css?version=1.1" />
        <script src="/jQuery/cursor.js"></script>
        <style>
            .navbar a { color: black; }
        </style>

    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light">
            <div
                class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
            >
                <ul class="navbar-nav mr-auto">
                    {{#if session.isAdmin}}
                        <!-- Admin Headbar -->
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/">Homepage</a>
                        </li>
                        <li class="nav-item">
                            <div class="ui simple dropdown item" id="dropdown">
                                <span class="text">Books</span>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item"><a
                                            href="/admin/addBook"
                                        >Add new Book</a></div>
                                    <div class="item"><a
                                            href="/admin/book/"
                                        >View all Book</a></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="ui simple dropdown item" id="dropdown">
                                <span class="text">Users</span>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item"><a
                                            href="/admin/addUser"
                                        >Add new Users</a></div>
                                    <div class="item"><a
                                            href="/admin/users/"
                                        >View all Users</a></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="ui simple dropdown item" id="dropdown">
                                <span class="text">Categories</span>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item"><a
                                            href="/admin/addCategory"
                                        >Add new Category</a></div>
                                    <div class="item"><a
                                            href="/admin/category"
                                        >View all Categories</a></div>
                                </div>
                            </div>
                        </li>
                    {{else}}
                        <!-- Customer Headbar -->
                        <li class="nav-item">
                            <a class="nav-link" href="/">Homepage</a>
                        </li>
                        <li class="nav-item">
                            <div class="ui simple dropdown item" id="dropdown">
                                <span class="text">Books</span>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item">
                                        <a
                                            href="/book/category?cat=popular"
                                        >What's Popular</a>
                                    </div>
                                    <div class="item">
                                        <a
                                            href="/book/category?cat=editorChoice"
                                        >Editor's Choice</a>
                                    </div>
                                    <div class="item">
                                        <a
                                            href="/book/category?cat=newlyAdded"
                                        >Newly Added</a>
                                    </div>
                                    <div class="item">
                                        <a href="/book/category?cat=all">All
                                            Categories</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Categories</a>
                        </li>
                    {{/if}}
                    <script>
                        $('.dropdown').dropdown({});
                    </script>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <img src="/Logo/fpt.png" height="40px" alt="" />
            </div>
            <div
                class="navbar-collapse collapse w-100 order-3 order-md-0 dual-collapse2"
            >
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form action="/book/search" method="GET">
                            <div
                                class="ui fluid search"
                                style="margin-right: 30px"
                            >
                                <div class="ui icon input">
                                    <input
                                        name="key"
                                        class="prompt"
                                        type="search"
                                        placeholder="Search for Books..."
                                        style="width: 400px;"
                                        onsearch="searchDirect()"
                                    />
                                    <i class="search icon"></i>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Cart</a>
                    </li>
                    {{#if session.userName}}
                        <li class="nav-item">
                            <div class="ui simple dropdown item" id="dropdown">
                                <span class="text"><img
                                        src="/Avatars/{{session.avatar}}"
                                        style="height: 50px; border-radius: 20px"
                                        alt=""
                                    /></span>
                                <div class="menu" style="margin-top: 5px;">
                                    <div class="item disabled">Hello,
                                        {{session.firstName}}
                                    </div>
                                    <div class="item"><a href="/user/edit">Edit
                                            Profile</a></div>
                                    <div class="item"><a
                                            href="/user/orders"
                                        >Purchase History</a></div>
                                </div>
                            </div>
                        </li>
                        <script>
                            $('.dropdown').dropdown({});
                        </script>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log out</a>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log in</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        <hr style="margin-bottom: 40px;" />
        <span id="outer-circle" class="outer-circle"></span>
        <span id="circle" class="circle"></span>
    </body>
    <script>
        $(function () { $(document).scroll(function () { var $nav =
        $(".navbar"); $nav.toggleClass('scrolled', $(this).scrollTop() >
        $nav.height()); }); });
    </script>

</html>