<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homepage</title>
    </head>
    <body>
        {{> header }}
        <br /><br />
        <center><h1>Register a new User</h1>
        <form method="post" action="addUser">
        Name : <input type="text" name="txtName">
        <br><br>
        Role: 
        <select name="Role">
            <option value="admin">Admin</option>
            <option value="staff">Staff</option>
        </select>
        <br><br>
        Password:
        <input type="password" name="txtPassword">
        <br><br>
        <input type="submit" value="Add User">
    </form>
        </center>
    </body>
</html>