<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homepage</title>
    </head>

    <body>
        {{> header }}
        {{> cursor }}
        <br /><br />
        <center>
            <h1>Login</h1>
            <form action="/admin/login" method="post">
                <input type="text" name="txtUsername" id="" placeholder="Enter user name">
                <br><br>
                <input type="password" name="txtPassword" id="" placeholder="Enter password">
                <br><br>
                <input type="submit" value="Log in">
                <br><br>
                Not a member? <a href="/admin/register">Register here!</a>
            </form>
        </center>
    </body>

</html>
