@font-face {
    font-family: Maison-Medium;
    src: url("../Fonts/MaisonNeue-Medium.otf");
}

@font-face {
    font-family: Maison-Book;
    src: url("../Fonts/MaisonNeue-Book.otf");
}

@font-face {
    font-family: Maison-Demi;
    src: url("../Fonts/MaisonNeue-Demi.otf");
}

@font-face {
    font-family: Maison-Thin;
    src: url("../Fonts/MaisonNeue-Thin.otf");
}

@font-face {
    font-family: Maison-Light;
    src: url("../Fonts/MaisonNeue-Light.otf");
}

body {
    font-family: Maison-Light;
    background-color: #f6f6f6;
}

h1 {
    font-family: Maison-Medium;
    font-family: 30px;
}

.body {
    width: 80%;
    margin-left: 10%;
}

.row {
    margin-top: 40px;
    margin-bottom: 20px;
}
