@font-face {
    font-family: Maison-Medium;
    src: url("../Fonts/MaisonNeue-Medium.otf");
}

@font-face {
    font-family: FoundersGrotesk;
    src: url("../Fonts/Founders\ Grotesk\ -\ Medium.otf");
}

@font-face {
    font-family: Maison-Demi;
    src: url("../Fonts/EditorialNew-Medium.otf");
}

@font-face {
    font-family: Editor;
    src: url("../Fonts/EditorialNew-Medium.otf");
}

@font-face {
    font-family: Editor-Light;
    src: url("../Fonts/EditorialNew-Light.otf");
}

@font-face {
    font-family: Maison-Light;
    src: url("../Fonts/FoundersGrotesk-Light.otf");
}

body {
    font-family: Maison-Light;
    background-color: #f6f6f6;
    font-size: 16px;
}

h1 {
    font-family: Maison-Medium;
    font-family: 30px;
}

.block {
    background-color: white;
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    padding: 35px 30px 15px 30px;
    border-radius: 30px;
}

.row {
    margin-top: 40px;
    margin-bottom: 20px;
}
