.bdy {
    margin-left: 32px;
}
.circle {
    width: 4px;
    height: 4px;
    border-radius: 60%;
    background-color: black;
    border: solid 1px black;
    position: fixed;
    z-index: 10000;
    pointer-events: none;
}

.outer-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px black;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    position: fixed;
    z-index: 10099;
    pointer-events: none;
}

body *,
body button {
    cursor: none !important;
}

html:hover {
    cursor: none;
}
