<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
    {{>header}}
    <div class="block" style="width: 80%; margin-top: 100px; background-color: rgba(255, 255, 255, 0.8)">
            <div class="row tags" style="display: inline; margin-left: 2px">
                <span class="heading">Feedback:</span>
                
            </div>
            <form action="feedback" method="POST" class="ui form" style="padding: 15px;">
                <div class="field">
                    <hr>
                    <label>Rate the book</label>
                    <input type="number" name="numRating" id="">
                </div>
                <div class="field">
                    <label>Thoughts on the book</label>
                    <textarea spellcheck="false" name="txtContent"
                              value="" id="description"></textarea>
                </div>
                <div class="field">
                    <input type="submit" value="Send Feedback" id="btn_Save" class="inp" style="width: 100%;">
                </div>
            </form>
        </div>
    {{>footer}}
</body>
</html>